<h1>Kata Exercises</h1>
{{reverse-string phrase='12345'}}
{{reverse-string phrase='hello world'}}
{{palindrome-check phrase='racecar'}}
{{palindrome-check phrase='hello, world'}}
{{palindrome-check phrase='abc wow c b a'}}
{{palindrome-check phrase='easy as abc 123'}}
{{palindrome-check phrase='A man, a plan, a canal - Panama!'}}
{{palindrome-check phrase='A man, a plan, a canoe, pasta, heros, rajahs, a coloratura, maps, snipe, percale, macaroni, a gag, a banana bag, a tan, a tag, a banana bag again (or a camel), a crepe, pins, Spam, a rut, a Rolo, cash, a jar, sore hats, a peon, a canal – Panama!'}}

