<h1>Fibonacci Exercise</h1>
{{fibonacci-display n=0}}
{{fibonacci-display n=1}}
{{fibonacci-display n=2}}
{{fibonacci-display n=3}}
{{fibonacci-display n=4}}
{{fibonacci-display n=5}}
{{fibonacci-display n=6}}
{{fibonacci-display n=7}}
{{fibonacci-display n=8}}
{{fibonacci-display n=9}}
{{fibonacci-display n=10}}
{{fibonacci-display n=11}}
{{fibonacci-display n=12}}
{{fibonacci-display n=13}}
{{fibonacci-display n=14}}
{{fibonacci-display-solution n=15}}